body {
  color: rgb(242, 27, 27);
  background-color: rgb(255, 255, 255);
}
.MusicBox {
  display: flex;
  background-color: rgb(228, 52, 52);
  color: rgb(27, 222, 222);
}
.btn {
  background-color: white;
}

.login-signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .no-account-button {
  visibility: hidden;
} */